# ========================
# Database
# ========================
DATABASE_URL="postgresql://user:password@localhost:5432/backend_service"

# ========================
# Server
# ========================
PORT=3000

# ========================
# JWT
# ========================
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="15m"